name: Weekly snapshot build

on:
  schedule:
    - cron: "0 0 * * 6"
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    if: github.ref_name == 'main'
    secrets: inherit
    with:
      mod-release: false
      upload-artifacts: true
      publish-maven: true

  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: 'build'
          path: 'output'
      - run: ls -R output

      - name: Publish pre-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          SHORT_HASH=$(echo "${{ github.sha }}" | cut -c1-7)
          RELEASE_NOTES=$(gh release view weekly-build --repo ${{ github.repository }} --json body -q ".body" 2>/dev/null || echo "")
          gh release delete weekly-build --yes --cleanup-tag --repo ${{ github.repository }} 2>/dev/null || true
          gh release create weekly-build --prerelease --title "Weekly build #${{ github.run_number }}" --notes "## Changelog" --repo ${{ github.repository }}
          NEW_NOTES="$RELEASE_NOTES"$'\n'"* [$SHORT_HASH] $COMMIT_MSG"
          gh release edit weekly-build --notes "$NEW_NOTES" --repo ${{ github.repository }}
          gh release upload weekly-build output/**/*-fabric*@(.[0-9]|-SNAPSHOT).jar#SinoCore-fabric.jar --clobber --repo ${{ github.repository }}
          gh release upload weekly-build output/**/*-neoforge*@(.[0-9]|-SNAPSHOT).jar#SinoCore-neoforge.jar --clobber --repo ${{ github.repository }}
